{% extends 'base.html' %}





{% block title %} Contact Us {% endblock %}
{% block content %}
<div id="Maincontainer">
    <div id="con-container">
      <div id="con-title">
       Contact Us
      </div>
      <form action="/contact/" method="post">{% csrf_token %}
      <div class="form-group">
        <label class="cp1"for="name">Name</label>
        <input type="text" class="form-control-c" id="name" name="name" placeholder="Enter Your Name">
      </div>
              <div class="form-group">
        <label class="cp1"for="name">Email</label>
        <input type="email" class="form-control-c" id="email" name="email" placeholder="Enter Your Email">
      </div>
              <div class="form-group">
        <label class="cp1"for="name">Phone number</label>
        <input type="tel" class="form-control-c" id="phone" name="phone" placeholder="Enter Your Phone Number">
      </div>
              <div class="form-group">
      <div class="form-group">
        <label class="cp1"for="desc">How May We Help You ?</label>
        <textarea class="form-control-c" id="desc" name="desc" rows="5"></textarea>
      </div>
      <button type="submit" class="btn-btn-success">Submit</button>
</div>

{% endblock content %}
 